# Easier navigation
# =================

alias ..="cd ../"
alias ...="cd ../../"
alias ....="cd ../../../"
alias .....="cd ../../../../"
alias ~="cd ~"  # `cd` is probably faster to type though
alias -- -="cd -"  # go to previous directory (not necessarily up a level)


# Shortcuts
# =========

alias a="atom"
alias aa="atom ."
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias g="git"
alias gr="grunt"
alias gu="yarn gulp"
alias gulp="yarn gulp"
alias h="history"
alias j="jobs"
alias o="open"
alias oo="open ."
alias s="subl"
alias ss="subl ."
alias v="vim"


# Old ls aliases, now pointing to exa
# https://the.exa.website/
# ===================================

## Always use exa
alias ls="exa"

## List all files colorized in long format, with headers
alias l="exa -lh --git --group-directories-first"
alias ll="exa -lh --git --group-directories-first"

## List all files colorized in long format, with headers, including dot files
alias la="exa -lah --git --group-directories-first"

## List only directories
alias lsd="exa -lahD"

## List in tree view
alias lst="exa -lahT"


# Kill things
# ===========

alias murder='rm -rf'

## Recursively delete `.DS_Store` files
alias rmds="find . -type f -name '*.DS_Store' -ls -delete"

## Blow away `.pyc` files in the current directory and below
alias rmpyc="find . -name \"*.pyc\" -exec rm -rf {} \;"


# Combo Git commands
# ==================

alias gfoswg="g fo && g sw gh-pages"
alias gfoswm="g fo && g sw main"
alias gforog="g fo && g rog"
alias gforom="g fo && g rom"
alias gfost="g fo && g st"
alias gfuswm="g fu && g co main"
alias gswmp="g sw main && g pull"
alias gpotty="g po && g pot && g put"


# Docker commands
# ==================

alias dc="docker-compose"
alias dcb="docker-compose build"
alias dce="docker-compose exec"
alias dcu="docker-compose up"
alias dcepb="docker-compose exec python bash"
alias dap="docker attach cfgov-refresh_python_1"


# Networky stuff
# ==============

## Gzip-enabled `curl`
alias gurl='curl --compressed'

## IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"


# Misc. applications, programs, scripts, and utilities
# ====================================================

## Setup Atom command, since it can't add its own symlinks
alias atom='sh ~/Applications/Atom.app/Contents/Resources/app/atom.sh'

## Activate Sauce Connect
alias saucy="/Users/cranfills/Applications/sc-4.6.2-osx/bin/sc"

## Start python HTTP server
alias server="python -m SimpleHTTPServer"

alias ucp='source /Users/cranfills/Downloads/ucp-bundle-scott/env.sh'

## URL-encode strings (wrap them in single quotes)
alias urlencode='python -c "import sys, urllib.parse; print(urllib.parse.quote(sys.argv[1]));"'


# Other
# =====

## Ring the terminal bell and put a badge on Terminal.app’s Dock icon
## For example, when executing time-consuming commands:
## ./refresh-data.sh && bell
alias bell="tput bel"

## Intuitive map function
## For example, to list all directories that contain a certain file:
## find . -name README.md | map dirname
alias map="xargs -n1"


# Stuff I never use but cannot delete either because of http://xkcd.com/530/
# ==========================================================================
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume 7'"
alias hax="growlnotify -a 'Activity Monitor' 'System error' -m 'WTF R U DOIN'"
